<!doctype html>
<html>
<head>
  <script src="https://cdn.optimizely.com/js/8552681136.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dodo Conversion Funnel Enhancement</title>
  <link rel="shortcut icon" href=""/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <meta name="apple-touch-fullscreen" content="YES"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="HandheldFriendly" content="true"/>

  {{#each pageAssets.css}}
  <link rel="stylesheet" href="{{{url}}}">
  {{/each}}

</head>
<body>

  {{{body}}}

  {{#each pageAssets.js}}
  <script src="{{url}}"></script>
  {{/each}}
</body>
</html>
