@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin inline-block() {
  display: inline-block;
  vertical-align: middle;
}

@mixin light-weight {
  font-weight: 300;
}

@mixin light-weight-ita {
  font-weight: 300;
  font-style: italic;
}

@mixin normal-weight {
  font-weight: 400;
}

@mixin bold-weight {
  font-weight: 600;
}

@mixin forceHardwareAcceleration() {
  -webkit-transform: translate3d(0, 0, 0);
}
